*{
	margin: 0;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;

    -webkit-transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1); 
  	-moz-transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
	-ms-transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
	-o-transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
	transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}
html{
	font-family: Segoe UI,Microsoft YaHei;
	font-size: 25px;
	color: rgb(255,255,255);

	background: url('https://api.ixiaowai.cn/gqapi/gqapi.php') center center fixed ;
	background-repeat: no-repeat;
	background-size: cover;
}
a{
	text-decoration: none;
	transition: color ease-out 0.25s;
}
a:link{
	color: rgb(255,255,255);
	transition: color ease-out 0.25s;
}
a:visited{
	color: rgb(255,255,255);
	transition: color ease-out 0.25s;
}
a:hover{
	color: rgb(28, 126, 214);
	transition: color ease-out 0.25s;
}
a:active{
	color: rgb(255,255,255);
	transition: color ease-out 0.25s;
}
hr{
	display: none;
}
ul{
	margin: 12.5px 0;
	line-height: 1.5;
	padding: 0;
	text-align: center;
	list-style-type: none;
}
/*========================================================================================*/
.FOF.FO , .FIF.FI{
  	-webkit-transition: all 1s;  
  	-moz-transition: all 1s;  
	-ms-transition: all 1s;  
	-o-transition: all 1s;  
	transition: all 1s;  
}
.FOF.FO , .FIF {
	opacity: 0;
}
.FIF.FI , .FOF{
	opacity: 1;
}

#ClientDiv-TopTab-MoreOptions , #ClientDiv-TopTab-MoreOptions:hover{
	-webkit-transition: color ease-out 0.75s;
  	-moz-transition: color ease-out 0.75s;
	-ms-transition: color ease-out 0.75s;
	-o-transition: color ease-out 0.75s;
	transition: color ease-out 0.75s;
}

.EasingOut_Left{
	transform:  translateX(-125%);
}
.EasingOut_Bottom{
	transform:  translateY(125%);
}
.EasingOut_Top{
	transform:  translateY(-125%);
}
#ClientDiv-Center-Banner{
	color: rgb(255,255,255);

	position: absolute;
	top: 50%;
	width:100%;
	height:25px;
	margin-top:-50px;
}
#ClientDiv-Center-ExChangeLink{
	font-size: 26px;
	display: none;
	position: absolute;
	top: 50%;
	height:15%;
	width:100%;
}
#ClientDiv-LeftTab{
	position: fixed;
	left: 0px;
	top: 64px;
	width: 200px;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.5);
	/* border-radius: 25px; */
}
#ClientDiv-TopTab-MoreOptions{
	position: relative;
	left: 16px;
	top: 16px;
	width: 32px;
	height: 32px;
	color: white;
}
#ClientDiv-TopTab-MoreOptions:hover{
	color: rgb(173, 181, 189);
}
#ClientDiv-ReadMe {
	/* Center */
	position: fixed;
	display: inline-block;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
	font-size: 12px;
	color: white;
	background-color: rgba(33, 33, 33, 0.5);
	box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.25);
	border-radius: 32px;
}
#ClientDiv-ReadMe-LeftInfo{
	position: relative;
	width: 128px;
	height: 100%;
	border-radius: 32px 0px 0px 32px;
	background-color: rgba(33, 33, 33, 0.25);
}
#ClientDiv-ReadMe-SplitBar{
	position: relative;
	left: 8px;
	width: 112px;
	height: 1.5px;
	background-color: rgba(255, 255, 255, 0.125);
}
#ClientDiv-ReadMe-Name{
	text-align: center;
	top: 0px;
	width: 128px;
	font-size: 18px;
}
#ClientDiv-OptionsUI-ul-BackgroundSelect-Select{
	position: relative;
	height: 37.5px;
}