*{
	margin: 0;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
html{
	font-family: Segoe UI,Microsoft YaHei;
	font-size: 25px;
	color: rgb(255,255,255);

	background: url(https://api.sunweihu.com/api/bing1/api.php) center center fixed ;
	background-repeat: no-repeat;
	background-size: cover;
}
#ClientDiv-Center-Banner{
	font-family: Segoe UI,Microsoft YaHei;
	color: rgb(255,255,255);


	position: absolute;
	top: 50%;
	width:100%;
	height:25px;
	margin-top:-50px;
}
#ClientDiv-Center-ExChangeLink{
	font-size: 26px;
	position: absolute;
	top: 50%;
	height:15%;
	width:100%;
}
a{
	text-decoration: none;
}
a:link{
	color: rgb(28, 126, 214);
}
a:visited{
	color: rgb(255,255,255);
}
a:hover{
	color: rgb(28, 126, 214);
}
a:active{
	color: rgb(255,255,255);
}
hr{
	display: none;
}
.EasingOut_Left{
	transform:  translateX(-125%);
}
.EasingOut_Bottom{
	transform:  translateY(125%);
}
.EasingOut_Top{
	transform:  translateY(-125%);
}
#Main-LeftTab{
	position: fixed;
	left: 0px;
	top: 64px;
	width: 200px;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.5);
	font-family: Segoe MDL2 Assets;
	/* border-radius: 25px; */
	transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}
ul{
	margin: 12.5px 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}
#li-ReadMe {
	/* Center */
	position: fixed;
	display: inline-block;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
	font-size: 12px;
	color: white;
	background-color: rgba(33, 33, 33, 0.5);
	box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.25);
	border-radius: 32px;
}
#li-ReadMe-LeftInfo{
	position: relative;
	width: 128px;
	height: 100%;
	border-radius: 32px 0px 0px 32px;
	background-color: rgba(33, 33, 33, 0.25);
}
#li-ReadMe-SplitBar{
	position: relative;
	left: 8px;
	width: 112px;
	height: 1.5px;
	background-color: rgba(255, 255, 255, 0.125);
}
#li-ReadMe-Name{
	text-align: center;
	top: 0px;
	width: 128px;
	font-size: 18px;
}
.FOF {
	opacity: 1;
}
.FOF.FO {
  	-webkit-transition: all 1s;  
  	-moz-transition: all 1s;  
	-ms-transition: all 1s;  
	-o-transition: all 1s;  
	transition: all 1s;  
	opacity: 0;
}
.FIF {
	opacity: 0;
}
.FIF.FI {
  	-webkit-transition: all 1s;  
  	-moz-transition: all 1s;  
	-ms-transition: all 1s;  
	-o-transition: all 1s;  
	transition: all 1s;  
	opacity: 1;
}